body{
	background-color: #ccc;
}

pre{
	background-color: #ccc;
}

/*Navigation*/
.text-purple{
	color: #6441a4 !important;
}

.dropdown-item:focus, .dropdown-item:hover{
	background-color: #ccc;
}
/*Navigation*/

/*大頭照*/
.card-img-myphoto{
	width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 50%;
}
/*大頭照*/

/*container*/
.navbar-dark .navbar-brand{
	color: #00ff80;
	font-size:1.5rem;
}

 .navbar-dark .navbar-toggler{
    border-color: #fff;
}

.active a{
    color: yellow !important;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-size: 1.5rem;	
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #00d0ff;
}
/*container*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}