body{
	background-color: #ccc;
}

.text-purple{
	color: #6441a4 !important;
}

/*大頭照*/
.card-img-myphoto{
	width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 50%;
    color: #ccc;
}
/*大頭照*/


/*container*/
.navbar-dark .navbar-brand{
	color: #00ff80;
	font-size:1.5rem;
}

 .navbar-dark .navbar-toggler{
    border-color: #fff;
}

.active a{
    color: yellow !important;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-size: 1.5rem;	
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #00d0ff;
}

.dropdown-item:hover{
	color: #ff0000;
}
/*container*/

