<!-- Blog Post -->
<div class="card border-danger my-4 mb-4">          
  <div class="card-body" style="border-bottom:none !important;">
    <h1 class="card-title text-center" >404</h1>
    <h2 class="card-text text-center text-danger">Page not found:(</h2>
    <h3 class="card-text text-center">不要搞事！</h3>
  </div>
  <div class="card-footer text-muted">
    by
    <a href="https://ubin.io/linbanana0803fb">巴那那</a>
  </div>
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="index.html"><img src="svg/home.svg"></a>
  </li>          
</ul>