<!-- Blog Post -->
<div class="card border-danger my-4 mb-4">          
  <div class="card-body" style="border-bottom:none !important;">
    <h1 class="card-title text-center" ><strong>錯誤 404 - 找不到頁面</strong></h1>
    <h2 class="card-text text-center text-danger">Page not found:(</h2>
    <h3 class="card-text text-left">
      很抱歉，您的要求發生錯誤。<br>
      可能的原因如下：<br><br>
      由於該頁面已經更新，因此頁面已經移往別處或被刪除。<br><br>

      瀏覽器位址欄位中的 URL 拼字有誤。 請檢查拼字是否正確。<br><br>
    </h3>
  </div>
  <div class="card-footer text-muted">
    by
    <a href="https://ubin.io/linbanana0803fb">巴那那</a>
  </div>
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="index.html"><img src="svg/home.svg"></a>
  </li>          
</ul>