<!-- AboutMe Post -->
<div class="card mb-4 my-4">
  <img class="card-img-top" src="https://linbanana.github.io/linbananaBlog/images/粉專2.gif" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
      Hello，我是林昭穎，來自台灣省高雄市林園區。 可以直接叫我 巴那那 ！
      <br><br>
      這個BLOG是我用來放自己的程式設計的學習筆記還有一些推薦的軟體使用等等其他主題。
      <br>
      眼看電腦科技不停的發展、不停的創造，不甘落於潮流之後的我也急起直追，運用JAVA，C#等其他技能。 甚至將自己寫的程式放到Github中，當下也解決了生活上遇到的問題。
      <br><br>

      因非本科系想踏入資訊領域行業，在自學過程中遇到許多障礙...<br>
      於是在2019年10月份來到高雄師範大學參與職業訓練，內容是實戰電子商務班，主要是訓練後端的技術，也因此我學到了linux架設SERVER、PHP與SQL等等技能，
      並帶領小組開發一個電子商務的網站，利用本身自學git、Github 等技能，去同步執行專案及資料庫。
      最後也成功在2019年12月份時，獨立在家中架設出可以使用 <font color="#ff0000">Name based or IP  based</font> 查看該專題的網站，使我對網路概念的運作更加清楚。<br>

      <center>----- 2021/12/20 UPDATE -----</center>
      <br>
      於2020年2月來到了xx工業任職MIS職務，主要負責的工作項目有電子簽核、網頁開發維護、設備軟硬體安裝。
      <br>
      任職期間使我最感到驕傲的事：
      <br>
      1、將公司用來管理資訊相關資產的EXCEL整合至內部網站中，使伺服器、個人電腦及筆記型電腦的相關資訊與異質系統(ad、電子簽核、ERP等等) mapping 後，並將其資訊拋到SQL做進一步統計分析，進而產出可視化圖形報表，減少人工維護資料所需耗費時間。
      <br><br>
      2、改善電子簽核之簽核流程設計時，流程設計都是依組織固定的方式設計，此情況可能組織的變動，會造成需一一調整每張表單各部門的簽核流程，
      我將此改善為動態的簽核流程，簽核流程應依簽核層級及主管的不同依序「自動」向上簽核。
      <br><br>
      除此之外公司網管人員離職的緣故，我也兼著做一些他平常在做的一些事，例如ad、DHCP、fortinet防火牆、mail server、NAS、防毒軟體伺服器主機等等設備的設定。

      <br><br>
      目前工作心得：雖我非本科系畢業，但秉持著對此工作的熱忱，儘管公司MIS編制只有五人..負責網管相關作業的人員又剛好離職，使得我成為第一線人員，雖部門人員各自的工作量增加，但這也意外帶來更多可於職場上學習的系統，解決問題的過程中，做中學學中做，也許可能會遇到沒碰過的問題，必須與同事或廠商進一步的溝通並提出相對應合適的對策，進而然提升了表達能力及應對能力，甚至更了解公司的網路及伺服器架構等等。
      <br><br>

      #下列網站已於20210721由windows server轉移至NAS。
      <br>
      1. 2019.10 <a href="https://ican.linbanana.com">6人小組共同開發的網站..</a>
      <br>
      2. 2020.05 <a href="https://pigeon.linbanana.com">發鴿血統書(幫老爸寫的)</a>
      <br>
      3. 2020.08 <a href="https://tsc.linbanana.com">QQ飛車 - TOP Skateboard Club</a>
      <br><br>

      #Github pages
      <br>
      1. 2019.08 <a href="https://linbanana.github.io/linbananaBlog/index.html">個人網站</a>
      <br>
      2. 2021.12 <a href="https://linbanana.github.io/keyboard-test/">keyboard-test</a>
    </p>
    <br>
  </div>
  <div class="card-footer text-muted">
    by
    <a href="https://ubin.io/linbanana0803fb">巴那那</a>
  </div>
</div>


<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="index.html"><img src="svg/home.svg"></a>
  </li>
</ul>