<!-- AboutMe Post -->
<div class="card mb-4 my-4">
  <img class="card-img-top" src="https://linbanana.github.io/linbananaBlog/Image/粉專2.gif" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Hello，我是林昭穎，來自台灣省高雄市林園區。 綽號：巴那那。
      <br/><br/>
      這個BLOG是我用來放自己的程式設計的學習筆記還有一些推薦的軟體使用等等其他主題。

      眼看電腦科技不停的發展、不停的創造，不甘落於潮流之後的我也急起直追，運用JAVA,C#等其他技能。 甚至將自己寫的程式放到Github中，當下也解決了生活上遇到的問題。<br/>
      在大學就學期間，也獨立客製化了報告動畫。<br/><br/>

      因非本科系想踏入資訊領域行業，在自學過程中遇到許多障礙..<br/>
      於是在2019年10月份來到高雄師範大學參與職業訓練，內容是實戰電子商務班，主要是訓練後端的技術，也因此我學到了linux架設SERVER、PHP與Database等等相關技能。<br/>
      此課程只有短短的2個多月的訓練時間並且要在期間內開發一個有亮點並具備購物車的網站。<br/>
      開發網站以6人小組為一個單位，我帶領著小組開發一個電子商務的網站，利用本身自學Git、Github等等技能，去執行同步專案、資料庫。
      最後也成功在結訓報告前，獨立在家中架設出一個可以使用<font color="#ff0000">Name based or IP  based</font>瀏覽的網站。<br/><br/>

      企業管理相關作品：<a href="https://drive.google.com/drive/folders/1oZ7tikvvcTAFgqOqX9J2xWkCrnJNhkel?usp=sharing" class="card-link">快來看看吧！</a><br/><br/>

      6人小組共同開發的網站：
      https://github.com/linbanana/ican<br/>
      可以使用<font color="#ff0000">Name based or IP  based</font>瀏覽，如有需要請聯繫我，我將會開啟並提供相關資訊：
      <a href="mailto:tommy12345689@yahoo.com.tw">
        <i class="fa fa-envelope" aria-hidden="true">&nbsp;Email</i>
      </a>。
    </p>
    <a href="https://github.com/linbanana" class="btn btn-primary">我的Github &rarr;</a>

  </div>
  <div class="card-footer text-muted">
    by
    <a href="#">巴那那</a>
  </div>
</div>


<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="index.html"><img src="svg/home.svg"></a>
  </li>
</ul>