<h1 class="my-4">個人小筆記
  <small>分享請註明出處唷！</small>
</h1>

<!-- Blog Post -->
<div class="card mb-4 my-4">
  <img class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">網站持續更新中..</h2>
    <a href="#" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">使用Github pages創建自己的Blog吧！</h2>
    <a href="article/Github pages_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
   2019/08/24 by
   <a href="#">巴那那</a>
 </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">將HTML切割引用至其他分頁上</h2>
    <a href="article/HTML cut_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/08/26 by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">Java利用Scanner查詢99乘法表</h2>
    <a href="article/Java99_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/08/31 by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">Java利用Scanner查詢費式數列</h2>
    <a href="article/Fibonacci_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/08/31 by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">Java利用Scanner自訂範圍抽籤</h2>
    <a href="article/Random_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/09/03 by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">利用批次檔製作網路診斷工具！</h2>
    <a href="article/Network-diagnostics_bat_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/09/03 by
    <a href="#">巴那那</a>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">Minimem 記憶體最佳化管理工具</h2>
    <a href="article/Minimem_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/09/03 by
    <a href="#">巴那那</a>
    <span class="badge badge-pill badge-primary float-right">軟體下載</span>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">Revo Uninstaller 輕鬆卸載軟件並刪除不需要的程序</h2>
    <a href="article/Revo Uninstaller_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/09/10 by
    <a href="#">巴那那</a>
    <span class="badge badge-pill badge-primary float-right">軟體下載</span>
  </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">       
  <div class="card-body">
    <h2 class="card-title">How to allow XAMPP Apache listening to multiple network ports?</h2>
    <a href="article/XAMPP_layouts.html" class="btn btn-primary">看更多 &rarr;</a>
  </div>
  <div class="card-footer text-muted fa fa-calendar">
    2019/12/29 by
    <a href="#">巴那那</a>
  </div>
</div>