<div class="card-body">
  <h2 class="card-title">將HTML切割引用至其他分頁上</h2><br/>
  <h3 class="card-text">
</div>
<div class="card-footer text-muted">
  2019/08/26 by
  <a href="#">巴那那</a>
  <div class="fb-share-button" data-href="https://linbanana.github.io/linbananaBlog/article/Github%20pages.html" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div>
</div>