<!-- Footer -->
<footer class="py-5 bg-dark" id="footer">
    <p class="m-0 text-center text-white">copyright &copy; 2019-<span id="date"></span> linbanana`Blog<br/>Proudly hosted by <a href="https://pages.github.com">GitHub Pages</a>
    </p>
</footer>

<!-- back-to-top -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top fa fa-angle-up" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



