<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container">
    <a herf="" class="site-logo"><img src="\linbananaBlog\Image\菁英巴那那.png"></a>
    <a class="site-title" href="#">linbanana`Blog</a>                

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://linbanana.github.io/linbananaBlog/index.html">首頁
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://linbanana.github.io/linbananaBlog/about.html">關於我</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://linbanana.github.io/linbananaBlog/404.html">404</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">社群媒體</a>
          <div class="dropdown-menu">              
            <a class="dropdown-item fa fa-facebook-square fa-1g text-primary" href="https://ubin.io/linbanana0803fb">　Facebook</a>
            <a class="dropdown-item fa fa-youtube-play fa-1g text-danger" href="https://ubin.io/linbananayoutube">　Youtube</a>
            <a class="dropdown-item fa fa-twitch fa-1g text-purple" href="https://ubin.io/linbananaTwitch">　Twitch</a>
            <div role="separator" class="dropdown-divider"></div>
            <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="dropdown-item addthis_tipjar_inline"></div>
          </div>
        </li>         
      </ul>
      <!-- Search Widget --> 
      <div class="searchdropdown">
        <a href="https://linbanana.github.io/linbananaBlog/search.html"><button onclick="myFunction()" class="searchbtn btn-primary"><img src="https://linbanana.github.io/linbananaBlog/svg/search.svg"></button></a>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="key-in" oninput="searchFunction()">
          <!-- <a href="#about">About</a> -->
        </div>
      </div>
    </div>       
  </div>
</nav>